body{
  font-family: arial;
}
#drawingboard{
  height: 640px;
  width: 640px;
  position: absolute;
  left:50%;
  margin-left: -320px;
  display: grid;
 /* column-count:16;
  //grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto ;*/
}
#reset{
  width:50px;
  height:50px;
}

#erase{
  border:1px solid black;
}
h1{
  text-align: center;
}
.color{
  width :50px;
  height:50px;
  border:none;
}

#buttons{
  display:inline-grid;
  width: 100px;
  height: 320px;
}
